:root {
  --clrPrimary: hsl(172, 67%, 45%);
  --clrVeryDarkCyan: hsl(183, 100%, 15%);
  --clrDarkGrayishCyan: hsl(186, 14%, 43%);
  --clrGrayishCyan: hsl(184, 14%, 56%);
  --clrLightGrayishCyan: hsl(185, 41%, 84%);
  --clrVeryLightGrayishCyan: hsl(189, 41%, 97%);
  --clrWhite: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  box-sizing: border-box;
}

header,
body {
  background-color: var(--clrLightGrayishCyan);
}

header {
  color: var(--clrVeryDarkCyan);
  text-align: center;
  padding: 20px 0;
  letter-spacing: 0.4em;
}

h2 {
  color: var(--clrDarkGrayishCyan);
  font-size: 0.65em;
}

form {
  /* position: absolute; */
  bottom: 0;
  top: 110px;
  background-color: var(--clrWhite);
  border-radius: 20px 20px 0 0;
  padding: 35px 27px;
}

input {
  text-align: right;
}

input,
label {
  border-radius: 5px;
}

.bill_input,
.people_input {
  margin: 10px 0 30px;
}

.bill_input,
.people_input,
.tipPercentCustom {
  background-color: var(--clrVeryLightGrayishCyan);
  border: none;
  width: 100%;
}

.bill_input {
  background-image: url(images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 12px 9px;
}

.people_input {
  background-image: url(images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 12px 9px;
}

input[name="tipPercentCustom"]::placeholder {
  text-align: center;
}

input[type="reset"] {
  color: var(--clrVeryDarkCyan);
  background-color: var(--clrPrimary);
  border: none;
  border-radius: 4px;
  padding: 5px 20px;
  width: 100%;
  text-align: center;
  grid-column: 1 / span 2;
  cursor: pointer;
}

input[type="reset"]:hover {
  color: var(--clrPrimary);
  background-color: var(--clrWhite);
}

.numberPeople {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.errorMsg {
  display: none;
  color: green;
}

/* Radio and Label Styling */
input[type="radio"] {
  display: none;
}

.tipPercentLabel {
  color: var(--clrVeryLightGrayishCyan);
  background-color: var(--clrVeryDarkCyan);
  padding: 5px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.selected {
  color: var(--clrVeryDarkCyan);
  background-color: var(--clrPrimary);
}

.tipPercentLabel:hover {
  color: var(--clrVeryDarkCyan);
  background-color: var(--clrPrimary);
}

.tipSelection {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  gap: 0.6em;
  margin: 10px 0 30px;
}

.totals {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 1fr));
  row-gap: 35px;
  background-color: var(--clrVeryDarkCyan);
  padding: 30px 20px;
  border-radius: 15px;
}

.totals p {
  color: var(--clrPrimary);
  font-size: 0.6em;
}

.totals h2 {
  color: var(--clrWhite);
}

.tipDollarAmount,
.totalDollarAmount {
  text-align: right;
  color: var(--clrPrimary);
  font-size: 1.2em;
}

@media (min-width: 840px) {
  form {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 30px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
  }

  .tipSelection {
    display: grid;
    grid-template-columns: repeat(3, minmax(5px, 1fr));
    gap: 0.6em;
    margin: 10px 0 30px;
  }
}
